@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ---navbar--- */
.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    padding-left: 6rem;
}

.profile {
    display: flex;
    width: 32%;
    max-width: 200px;
    justify-content: space-between;
    align-items: center;
}

.profile h3 {
    font-size: 18px;
    margin-left: 25px;
}

.profile_image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 1025px;
}

.profile_name {
    font-size: 16px;
    margin-left: 12px;
}

/* ---sidebar--- */
.sidebar {
    position: fixed;
    width: 260px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #272726;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.180);
}

.sidebar-brand {
    padding: 35px 38px 30px 23px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

.sidebar-menu ul a {
    display: block;
    line-height: 70px;
    font-size: 15px;
    color: white;
    padding-left: 30px;
    margin-bottom: 15px;
    transition: .5s;
    letter-spacing: 1px;
}

.sidebar-menu ul li:hover a {
    padding-left: 48px;
}

.sidebar-menu ul a i{
    margin-right: 16px;
}

.sidebar-menu .logout {
    position: absolute;
    bottom: 0;
}

/* ---table content--- */
.main_table {
    margin-left: 290px;
    padding: 20px;
    margin-top: 35px;
    width: 75vw;
    height: 90vh;
    background-color: #fff;
    box-shadow: 0 8px 10px #0005;
    border-radius: 10px;
    overflow: hidden;
}

.table_header h2 {
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.table_body {
    width: 95%;
    max-height: calc(89% - 21px);
    margin: 10px auto;
    margin-top: 20px;
    border-radius: 8px;
    overflow: auto;
    overflow: overlay;
}

.table_body::-webkit-scrollbar{
    width: 12px;
    height: 12px;
}

.table_body::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.356);
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

thead th {
    position: relative;
    padding: 18px 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
    background-color: #272726;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.160);
}

table td {
    padding: 1px 120px 0 120px;
    font-size: 14px;
    text-align: center;
}

table, th, td {
    border-collapse: collapse;
    padding: 50px;
}

table tr:nth-child(odd) {
    background-color:#d3d2d2;
}

table tr:nth-child(even) {
    background-color:#f1f0f0;
}

.status .Pending {
    padding: 2px 4px;
    background-color: #ff2f2f71;
    color: #ff2828;
}

table .hapus {
    background-color: rgb(236, 23, 23);
    padding-right: 8px;
    padding-left: 8px;
}

table .kirim {
    background-color: rgb(74, 77, 247);
    padding-right: 8px;
    padding-left: 8px;
}

table button:hover {
    background-color: #b9b9b9;
    transition: .7s;
}